---
import BaseLayout from '../../layouts/BaseLayout.astro'
import Header from '../../components/Header.astro'
import CardsGrid from '../../components/cardsGrid.astro'
import Card from '../../components/Card.astro'
import { mechList, MechObject } from '../../data/mechs'

export async function getStaticPaths() {
	return mechList.map((mech) => {
		return {
			params: { chassis: mech.chassis },
			props: {
				short: mech.short,
				weightclass: mech.weightclass,
				weight: mech.weight,
				DLC: mech.DLC,
			},
		}
	})
}

const { chassis } = Astro.params
const { short, weightclass, weight, DLC } = Astro.props

const MDAfiles = await Astro.glob('./../../data/MDA/**/*MDA.json')
const selectedMDA = MDAfiles.filter(
	(mda) => mda.chassisFullName.toLowerCase() === chassis.toLowerCase()
)
const MechObjects = selectedMDA.map((mda) => {
	return new MechObject(mda)
})

function linkFormatSarna(str: string): string {
	let newString = str.replace(/-+/g, '-! ')
	newString = newString.replace(/\s+/g, '_')
	let words = newString.split('_')
	for (let i = 0; i < words.length; i++) {
		words[i] =
			words[i].charAt(0).toUpperCase() + words[i].slice(1).toLowerCase()
	}
	newString = words.join('_')
	return newString.includes('-!_') ? newString.replace('!_', '') : newString
}
---

<BaseLayout title="MW5 mech list">
	<Header title={chassis} />
	<div class="info">
		<div
			class="mechImage"
			id={chassis.replace(/\s/g, '')}
			style={`background-image: url(/MW5-mechlab/mechs/${chassis.replaceAll(
				/\s+/g,
				''
			)}.png)`}
		>
			{
				DLC && (
					<div
						class="dlcIcon"
						style={`background-image: url(/MW5-mechlab/ico/${DLC}-icon.png);`}
					/>
				)
			}
		</div>
		<div class="spec">
			<p>Class: {weightclass[0].toUpperCase() + weightclass.slice(1)}</p>
			<p>Weight: {weight} tons</p>
			{DLC && <p>DLC: {DLC}</p>}
			<a href={`https://www.sarna.net/wiki/${linkFormatSarna(chassis)}`}
				>Sarna wiki link</a
			>
		</div>
	</div>
	<CardsGrid>
		{
			MechObjects.map((e) => (
				<Card>
					<h2>Variant name: {e.name}</h2>
					<p> </p>
				</Card>
			))
		}
	</CardsGrid>
</BaseLayout>
<style>
	.info {
		padding: 50px;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		gap: 25px;
	}
	.mechImage {
		min-width: 300px;
		min-height: 500px;
		background: transparent no-repeat;
		background-size: contain;
		border-radius: 5px;
	}
	.dlcIcon {
		margin: 5px;
		width: 30px;
		height: 30px;
		background-size: contain;
		background-repeat: no-repeat;
	}
	.spec {
		flex: 0 1 300px;
		min-width: 150px;
		padding: 10px;
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-around;
		background-color: rgba(36, 36, 36, 0.5);
		box-shadow: 0px 0px 7px 8px rgb(104 104 104 / 95%);
		border-radius: 15px;
		font-size: 1.2rem;
		color: white;
	}
	.spec a {
		font-size: 1.3rem;
		text-decoration: underline solid;
	}
	.spec a:hover {
		text-shadow: 0 0 2px black, 0 0 5px blue;
	}
</style>
