---
import BaseLayout from '../../layouts/BaseLayout.astro'
import Header from '../../components/Header.astro'
import { mechList } from '../../data/mechs'

export async function getStaticPaths() {
	return mechList.map((mech) => {
		return {
			params: { chassis: mech.chassis },
			props: {
				weightclass: mech.weightclass,
				weight: mech.weight,
				speed: mech.speed,
			},
		}
	})
}

const { chassis } = Astro.params
const { weightclass, weight, speed } = Astro.props

function linkFormatSarna(str: string): string {
	let newString = str.replace(/-+/g, '-! ')
	newString = newString.replace(/\s+/g, '_')
	let words = newString.split('_')
	for (let i = 0; i < words.length; i++) {
		words[i] =
			words[i].charAt(0).toUpperCase() + words[i].slice(1).toLowerCase()
	}
	newString = words.join('_')
	return newString.includes('-!_') ? newString.replace('!_', '') : newString
}
---

<BaseLayout title="MW5 mech list">
	<Header title={chassis} />
	<div class="info">
		<div class="mechImage" id={chassis.replace(/\s/g, '')}></div>
		<div class="spec">
			<p>Class: {weightclass}</p>
			<p>Weight: {weight} tons</p>
			<p>Speed: {speed} kp/h</p>
			<a href={`https://www.sarna.net/wiki/${linkFormatSarna(chassis)}`}
				>Sarna wiki link</a
			>
		</div>
	</div>
</BaseLayout>
<style>
	.info {
		padding: 50px;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		gap: 25px;
	}
	.mechImage {
		min-width: 300px;
		min-height: 500px;
		background: transparent no-repeat;
		background-size: contain;
		border-radius: 5px;
	}
	.spec {
		flex: 0 1 400px;
		min-width: 150px;
		padding: 10px;
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-around;
		background-color: rgba(36, 36, 36, 0.402);
		border-radius: 5px;
		font-size: 1.2rem;
	}
	.spec a {
		font-size: 1.3rem;
	}
	.spec a:hover {
		text-shadow: 0 0 2px black, 0 0 5px blue;
	}
</style>
<script>
	const imageContainer = document.querySelector('.mechImage')
	let mechName = imageContainer.getAttribute('id')
	imageContainer.style.backgroundImage = `url(../../mechs/${mechName}.png)`
</script>
